@font-face {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: #333;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1040px;
}

h1 {
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 18px;
    color: #333;
}

h3 {
    font-size: 14px;
    color: #333;
}

p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

footer {
    display: flex;
}

img {
    max-width: 100%;
}



/* GENERIC °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.icon-blue {
    color: #0065FC;
}

.icon-grey {
    color: rgba(0, 0, 0, 0.3);
}




/* NAVBAR °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



.logo {
    margin-top: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
}

.nav-link {
    margin: 10px;
}



/* SECTION FINDER °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



.section-finder {
    margin-top: 40px;
}

.finder-container {
    display: flex;
    align-items: center;
    width: auto;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.map-icon-holder {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid;
    border-width: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(211, 211, 211, 0.582);
    border-color: rgba(211, 211, 211, 0.582);
}

.finder-input {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.search-btn-holder {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.searching {
    color: white;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}



/* SECTION FILTERS °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



.section-2-filters {
    display: block;
    margin-bottom: 40px;
}

.first-blockline {
    display: flex;
    align-items: left;
    margin-bottom: 20px;
}

.filter-holder{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 20px;
    border-radius: 50px;
}

.icon-filter-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin-right: 10px;
    background-color: #DEEBFF;
}

.second-blockline {
    display: flex;
    align-items: center;
}

.fa-info {
    margin-right: 15px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.info-text-block {
    color: rgba(0, 0, 0, 0.5);
}



/* SECTION ACTIVITIES and POPULARS °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



#section-hosting-populars {
    display: flex;
    width: 100%;
    padding-bottom: 80px;
    margin: auto;
}

.cards-host-container {
    background-color: #F2F2F2;
    border-radius: 30px;
    display: grid;
    width: 70%;
    padding: 30px;
    margin: 10px;
}

.cards-populars-container {
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 30%;
    padding: 30px;
    margin: 10px;
}

.card-host {
    width: 33%;
}

.card-host ul {
    display: flex;
}