@font-face {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #FAFAFA;
    font-family: 'Raleway', sans-serif;
    color: #333;
    margin: auto;
}

main {
    padding: 30px;
    max-width: 1040px;
    margin: auto;
}

header {
    margin: auto;
    background-color: #FAFAFA;
    max-width: 1040px;
}

h1 {
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 18px;
    color: #333;
}

h3 {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

img.logo {
    object-fit: contain;
    padding-top: 15px;
    padding-left: 20px;
}

strong {
    margin-left: 2px;
}


/* GENERIC °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.icon-blue {
    color: #0065FC;
}

.icon-grey {
    color: rgba(0, 0, 0, 0.3);
}



/* NAVBAR °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FAFAFA;
}

.nav-link-group {
    display: flex;
    margin: 0px;
}

.nav-link {
    margin-left: 50px;
    padding-top: 40px;
    display: block;
}

.link-host-activities {
    margin-left: auto;
}

.nav-link:hover {
    border-top: solid 1px #0065FC;
    padding-top: 39px;
    color: #0065FC;
}

.btn-suscribe a {
    display: block;
    color: #0065FC;
    font-weight: 600;
    margin-right: 20px;
}



/* SECTION FINDER °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



.section-finder {
    margin-top: 40px;
}

.finder-container {
    display: flex;
    align-items: center;
    width: auto;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.map-icon-holder {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid;
    border-width: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(211, 211, 211, 0.582);
    border-color: rgba(211, 211, 211, 0.582);
}

.finder-input {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.search-btn-holder {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.searching {
    color: white;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}



/* SECTION FILTERS °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



.section-2-filters {
    display: block;
    margin-bottom: 40px;
}

.first-blockline {
    display: flex;
    align-items: left;
    margin-bottom: 20px;
}

.filter-holder{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

.icon-filter-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin-right: 10px;
    background-color: #DEEBFF;
}

.second-blockline {
    display: flex;
    align-items: center;
}

.fa-info {
    margin-right: 15px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.info-text-block {
    color: rgba(0, 0, 0, 0.5);
}



/* SECTION HOSTING and POPULARS °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

.card-img-wrapper img {
    height: 100px;
}

#section-hosting-populars {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    margin: auto;
}

.cards-host-container {
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 70%;
    padding: 30px;
    margin: 10px;
}

.cards-host-container p {
    display: flex;
    align-items: center;
}

.card-line-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card-host {
    width: calc(33% - 10px);
    height: auto;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: -6px 5px 15px 5px rgba(51,51,51,0.1);
}

.card-host:hover{
    transform: scale(1.02);
}

.card-host ul {
    display: flex;
}

.card-host-txt {
    margin-left: 5px;
}

.cards-populars-container {
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 30%;
    padding: 30px;
    margin: 10px;
}

.card-popular {
    width: 100%;
    height: 120px;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: -6px 5px 15px 5px rgba(51,51,51,0.1);
}

.card-popular:hover{
    transform: scale(1.02);
}

.card-popular a {
    display: flex;
    height: 100%;
}

.card-popular img {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
}

.card-popular-img {
    width: 35%;
    flex-shrink: 0;
}

.card-popular ul {
    display: flex;
}

.card-popular-txt {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.card-popular-txt ul {
    margin-top: auto;
}

.cards-populars-container-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



/* SECTION ACTIVITIES °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



.activities-wrapper {
    display: flex;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

.card-activity-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.card-activity-column a{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-activity-column h3{
    padding : 10px;
    flex-grow: 0;
}

.card-activity-column img{
    flex-grow: 1;
    height: 10px;
}

.card-activity-tall {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: -6px 5px 15px 5px rgba(51,51,51,0.1);
}

.card-activity-big {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: -6px 5px 15px 5px rgba(51,51,51,0.1);
}

.card-activity-small {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 40%;
    border-radius: 20px;
    box-shadow: -6px 5px 15px 5px rgba(51,51,51,0.1);
}

.card-activity-medium {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:50%;
    border-radius: 20px;box-shadow: -6px 5px 15px 5px rgba(51,51,51,0.1);
}

.card-activity-medium:first-child {
    margin-bottom: 20px;
}



/* FOOTER °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



footer {
    background-color: rgba(211, 211, 211, 0.582);
    padding: 30px;
}

.footer-flex {
    display: flex;
    max-width: 1040px;
    margin: auto;
}

footer ul {
    margin-right: 150px;
}

footer li {
    padding-bottom: 10px;
}



/* MEDIA QUERIES °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/



@media screen and (max-width: 1100px) {


    body {
        max-width: 900px;
    }

    main {
        padding: 10px;
        margin: auto;
    }

    .first-blockline {
        display: block;
    }

    .filter-holder {
        margin-bottom: 10px;
        margin-left: 0px;
        width: fit-content;
    }

    #section-hosting-populars {
        flex-direction: column;
    }

    .cards-host-container {
        width: 100%;
    }

    .cards-populars-container {
        width: 100%;
    }

    .cards-popular-wrapper {
        display: flex;
    }

    .card-popular {
        margin-right: 10px;
    }
}




@media screen and (max-width: 500px) {

    h2 {
        margin-bottom: 30px;
        width: 100%;
    }

    .link-host-activities {
        width: 100%;
        order: 3;
    }

    .btn-suscribe {
        order: 2;
    }

    .link-host-activities li {
        padding-bottom: 10px;
        width: 50%;
        border-bottom: 2px solid #b9c3d3;
    }

    .link-host-activities li:hover {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }

    .nav-link:hover {
        border-top: none;
    }
    
    .finder-container {

    }

    #section-hosting-populars {
        padding-bottom: 20px;
        flex-direction: column-reverse;
    }

    #section-activities {
        display: block;
        height: 1400px;
    }

    .first-blockline {
        display: flex;
        flex-wrap: wrap;
    }

    .filter-holder {
        height: auto;
        margin-left: 0px;
        margin-right: 20px;
    }

    .card-line-wrapper {
        display: block;
    }

    .cards-host-container {
        width: 80%;
        background-color: #FAFAFA;
    }

    .card-host {
        width: 100%;
        margin-left: 0px;
    }

    .cards-populars-container {
        width: 80%;
        border-radius: 0px;
    }

    .cards-populars-container-title {
        display: flex;
    }

    .cards-popular-wrapper {
        display: block;
    }

    .card-popular-txt ul {
        margin-top: 5px;
    }

    .activities-wrapper {
        display: block;
    }

    .card-activity-column {
        height: auto;
        width: 90%;
    }

    .card-activity-small {
        height: 200px;
        margin-bottom: 10px;
    }

    .card-activity-medium {
        height: 200px;
        margin-bottom: 10px;
    }

    .card-activity-big {
        height: 200px;
        margin-bottom: 10px;
    }

    .card-activity-tall {
        height: 200px;
        margin-bottom: 10px;
    }

    .footer-flex {
        display: flex;
        flex-wrap: wrap;
    }

    footer ul {
        margin-right: 0px;
    }
}